.row-grids{
	width:100%;
	display:inline-block;
}
.container-grids{
	width:1280px;
	max-width:100%;
	margin:0 auto;
}
/*GRIDS*/
.col-com-1,.col-mob-1,.col-tab-1,.col-com-2,.col-mob-2,.col-tab-2,.col-com-3,.col-mob-3,.col-tab-3,.col-com-4,.col-mob-4,.col-tab-4,.col-com-5,.col-mob-5,.col-tab-5,.col-com-6,.col-mob-6,.col-tab-6,.col-com-7,.col-mob-7,.col-tab-7,.col-com-8,.col-mob-8,.col-tab-8,.col-com-9,.col-mob-9,.col-tab-9,.col-com-10,.col-mob-10,.col-tab-10,.col-com-11,.col-mob-11,.col-tab-11,.col-com-12,.col-mob-12,.col-tab-12,.col-com-13,.col-mob-13,.col-tab-13,.col-com-14,.col-mob-14,.col-tab-14,.col-com-15,.col-mob-15,.col-tab-15,.col-com-16,.col-mob-16,.col-tab-16,.col-com-17,.col-mob-17,.col-tab-17,.col-com-18,.col-mob-18,.col-tab-18,.col-com-19,.col-mob-19,.col-tab-19,.col-com-20,.col-mob-20,.col-tab-20,.col-com-21,.col-mob-21,.col-tab-21,.col-com-22,.col-mob-22,.col-tab-22,.col-com-23,.col-mob-23,.col-tab-23,.col-com-24,.col-mob-24,.col-tab-24,.col-com-25,.col-mob-25,.col-tab-25,.col-com-26,.col-mob-26,.col-tab-26,.col-com-27,.col-mob-27,.col-tab-27,.col-com-28,.col-mob-28,.col-tab-28,.col-com-29,.col-mob-29,.col-tab-29,.col-com-30,.col-mob-30,.col-tab-30,.col-com-31,.col-mob-31,.col-tab-31,.col-com-32,.col-mob-32,.col-tab-32,.col-com-33,.col-mob-33,.col-tab-33,.col-com-34,.col-mob-34,.col-tab-34,.col-com-35,.col-mob-35,.col-tab-35,.col-com-36,.col-mob-36,.col-tab-36,.col-com-37,.col-mob-37,.col-tab-37,.col-com-38,.col-mob-38,.col-tab-38,.col-com-39,.col-mob-39,.col-tab-39,.col-com-40,.col-mob-40,.col-tab-40,.col-com-41,.col-mob-41,.col-tab-41,.col-com-42,.col-mob-42,.col-tab-42,.col-com-43,.col-mob-43,.col-tab-43,.col-com-44,.col-mob-44,.col-tab-44,.col-com-45,.col-mob-45,.col-tab-45,.col-com-46,.col-mob-46,.col-tab-46,.col-com-47,.col-mob-47,.col-tab-47,.col-com-48,.col-mob-48,.col-tab-48,.col-com-49,.col-mob-49,.col-tab-49,.col-com-50,.col-mob-50,.col-tab-50,.col-com-51,.col-mob-51,.col-tab-51,.col-com-52,.col-mob-52,.col-tab-52,.col-com-53,.col-mob-53,.col-tab-53,.col-com-54,.col-mob-54,.col-tab-54,.col-com-55,.col-mob-55,.col-tab-55,.col-com-56,.col-mob-56,.col-tab-56,.col-com-57,.col-mob-57,.col-tab-57,.col-com-58,.col-mob-58,.col-tab-58,.col-com-59,.col-mob-59,.col-tab-59,.col-com-60,.col-mob-60,.col-tab-60,.col-com-61,.col-mob-61,.col-tab-61,.col-com-62,.col-mob-62,.col-tab-62,.col-com-63,.col-mob-63,.col-tab-63,.col-com-64,.col-mob-64,.col-tab-64,.col-com-65,.col-mob-65,.col-tab-65,.col-com-66,.col-mob-66,.col-tab-66,.col-com-67,.col-mob-67,.col-tab-67,.col-com-68,.col-mob-68,.col-tab-68,.col-com-69,.col-mob-69,.col-tab-69,.col-com-70,.col-mob-70,.col-tab-70,.col-com-71,.col-mob-71,.col-tab-71,.col-com-72,.col-mob-72,.col-tab-72,.col-com-73,.col-mob-73,.col-tab-73,.col-com-74,.col-mob-74,.col-tab-74,.col-com-75,.col-mob-75,.col-tab-75,.col-com-76,.col-mob-76,.col-tab-76,.col-com-77,.col-mob-77,.col-tab-77,.col-com-78,.col-mob-78,.col-tab-78,.col-com-79,.col-mob-79,.col-tab-79,.col-com-80,.col-mob-80,.col-tab-80,.col-com-81,.col-mob-81,.col-tab-81,.col-com-82,.col-mob-82,.col-tab-82,.col-com-83,.col-mob-83,.col-tab-83,.col-com-84,.col-mob-84,.col-tab-84,.col-com-85,.col-mob-85,.col-tab-85,.col-com-86,.col-mob-86,.col-tab-86,.col-com-87,.col-mob-87,.col-tab-87,.col-com-88,.col-mob-88,.col-tab-88,.col-com-89,.col-mob-89,.col-tab-89,.col-com-90,.col-mob-90,.col-tab-90,.col-com-91,.col-mob-91,.col-tab-91,.col-com-92,.col-mob-92,.col-tab-92,.col-com-93,.col-mob-93,.col-tab-93,.col-com-94,.col-mob-94,.col-tab-94,.col-com-95,.col-mob-95,.col-tab-95,.col-com-96,.col-mob-96,.col-tab-96,.col-com-97,.col-mob-97,.col-tab-97,.col-com-98,.col-mob-98,.col-tab-98,.col-com-99,.col-mob-99,.col-tab-99,.col-com-100,.col-mob-100,.col-tab-100{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.col-com-1{ width:100%; float:left; display:inline-block;}
.col-com-2{ width:50%; float:left; display:inline-block;}
.col-com-3{ width:33.333333333333%; float:left; display:inline-block;}
.col-com-4{ width:25%; float:left; display:inline-block;}
.col-com-5{ width:20%; float:left; display:inline-block;}
.col-com-6{ width:16.666666666667%; float:left; display:inline-block;}
.col-com-7{ width:14.285714285714%; float:left; display:inline-block;}
.col-com-8{ width:12.5%; float:left; display:inline-block;}
.col-com-9{ width:11.111111111111%; float:left; display:inline-block;}
.col-com-10{ width:10%; float:left; display:inline-block;}
.col-com-11{ width:9.0909090909091%; float:left; display:inline-block;}
.col-com-12{ width:8.3333333333333%; float:left; display:inline-block;}
.col-com-13{ width:7.6923076923077%; float:left; display:inline-block;}
.col-com-14{ width:7.1428571428571%; float:left; display:inline-block;}
.col-com-15{ width:6.6666666666667%; float:left; display:inline-block;}
.col-com-16{ width:6.25%; float:left; display:inline-block;}
.col-com-17{ width:5.8823529411765%; float:left; display:inline-block;}
.col-com-18{ width:5.5555555555556%; float:left; display:inline-block;}
.col-com-19{ width:5.2631578947368%; float:left; display:inline-block;}
.col-com-20{ width:5%; float:left; display:inline-block;}
.col-com-21{ width:4.7619047619048%; float:left; display:inline-block;}
.col-com-22{ width:4.5454545454545%; float:left; display:inline-block;}
.col-com-23{ width:4.3478260869565%; float:left; display:inline-block;}
.col-com-24{ width:4.1666666666667%; float:left; display:inline-block;}
.col-com-25{ width:4%; float:left; display:inline-block;}
.col-com-26{ width:3.8461538461538%; float:left; display:inline-block;}
.col-com-27{ width:3.7037037037037%; float:left; display:inline-block;}
.col-com-28{ width:3.5714285714286%; float:left; display:inline-block;}
.col-com-29{ width:3.448275862069%; float:left; display:inline-block;}
.col-com-30{ width:3.3333333333333%; float:left; display:inline-block;}
.col-com-31{ width:3.2258064516129%; float:left; display:inline-block;}
.col-com-32{ width:3.125%; float:left; display:inline-block;}
.col-com-33{ width:3.030303030303%; float:left; display:inline-block;}
.col-com-34{ width:2.9411764705882%; float:left; display:inline-block;}
.col-com-35{ width:2.8571428571429%; float:left; display:inline-block;}
.col-com-36{ width:2.7777777777778%; float:left; display:inline-block;}
.col-com-37{ width:2.7027027027027%; float:left; display:inline-block;}
.col-com-38{ width:2.6315789473684%; float:left; display:inline-block;}
.col-com-39{ width:2.5641025641026%; float:left; display:inline-block;}
.col-com-40{ width:2.5%; float:left; display:inline-block;}
.col-com-41{ width:2.4390243902439%; float:left; display:inline-block;}
.col-com-42{ width:2.3809523809524%; float:left; display:inline-block;}
.col-com-43{ width:2.3255813953488%; float:left; display:inline-block;}
.col-com-44{ width:2.2727272727273%; float:left; display:inline-block;}
.col-com-45{ width:2.2222222222222%; float:left; display:inline-block;}
.col-com-46{ width:2.1739130434783%; float:left; display:inline-block;}
.col-com-47{ width:2.1276595744681%; float:left; display:inline-block;}
.col-com-48{ width:2.0833333333333%; float:left; display:inline-block;}
.col-com-49{ width:2.0408163265306%; float:left; display:inline-block;}
.col-com-50{ width:2%; float:left; display:inline-block;}
.col-com-51{ width:1.9607843137255%; float:left; display:inline-block;}
.col-com-52{ width:1.9230769230769%; float:left; display:inline-block;}
.col-com-53{ width:1.8867924528302%; float:left; display:inline-block;}
.col-com-54{ width:1.8518518518519%; float:left; display:inline-block;}
.col-com-55{ width:1.8181818181818%; float:left; display:inline-block;}
.col-com-56{ width:1.7857142857143%; float:left; display:inline-block;}
.col-com-57{ width:1.7543859649123%; float:left; display:inline-block;}
.col-com-58{ width:1.7241379310345%; float:left; display:inline-block;}
.col-com-59{ width:1.6949152542373%; float:left; display:inline-block;}
.col-com-60{ width:1.6666666666667%; float:left; display:inline-block;}
.col-com-61{ width:1.6393442622951%; float:left; display:inline-block;}
.col-com-62{ width:1.6129032258065%; float:left; display:inline-block;}
.col-com-63{ width:1.5873015873016%; float:left; display:inline-block;}
.col-com-64{ width:1.5625%; float:left; display:inline-block;}
.col-com-65{ width:1.5384615384615%; float:left; display:inline-block;}
.col-com-66{ width:1.5151515151515%; float:left; display:inline-block;}
.col-com-67{ width:1.4925373134328%; float:left; display:inline-block;}
.col-com-68{ width:1.4705882352941%; float:left; display:inline-block;}
.col-com-69{ width:1.4492753623188%; float:left; display:inline-block;}
.col-com-70{ width:1.4285714285714%; float:left; display:inline-block;}
.col-com-71{ width:1.4084507042254%; float:left; display:inline-block;}
.col-com-72{ width:1.3888888888889%; float:left; display:inline-block;}
.col-com-73{ width:1.3698630136986%; float:left; display:inline-block;}
.col-com-74{ width:1.3513513513514%; float:left; display:inline-block;}
.col-com-75{ width:1.3333333333333%; float:left; display:inline-block;}
.col-com-76{ width:1.3157894736842%; float:left; display:inline-block;}
.col-com-77{ width:1.2987012987013%; float:left; display:inline-block;}
.col-com-78{ width:1.2820512820513%; float:left; display:inline-block;}
.col-com-79{ width:1.2658227848101%; float:left; display:inline-block;}
.col-com-80{ width:1.25%; float:left; display:inline-block;}
.col-com-81{ width:1.2345679012346%; float:left; display:inline-block;}
.col-com-82{ width:1.219512195122%; float:left; display:inline-block;}
.col-com-83{ width:1.2048192771084%; float:left; display:inline-block;}
.col-com-84{ width:1.1904761904762%; float:left; display:inline-block;}
.col-com-85{ width:1.1764705882353%; float:left; display:inline-block;}
.col-com-86{ width:1.1627906976744%; float:left; display:inline-block;}
.col-com-87{ width:1.1494252873563%; float:left; display:inline-block;}
.col-com-88{ width:1.1363636363636%; float:left; display:inline-block;}
.col-com-89{ width:1.123595505618%; float:left; display:inline-block;}
.col-com-90{ width:1.1111111111111%; float:left; display:inline-block;}
.col-com-91{ width:1.0989010989011%; float:left; display:inline-block;}
.col-com-92{ width:1.0869565217391%; float:left; display:inline-block;}
.col-com-93{ width:1.0752688172043%; float:left; display:inline-block;}
.col-com-94{ width:1.063829787234%; float:left; display:inline-block;}
.col-com-95{ width:1.0526315789474%; float:left; display:inline-block;}
.col-com-96{ width:1.0416666666667%; float:left; display:inline-block;}
.col-com-97{ width:1.0309278350515%; float:left; display:inline-block;}
.col-com-98{ width:1.0204081632653%; float:left; display:inline-block;}
.col-com-99{ width:1.010101010101%; float:left; display:inline-block;}
.col-com-100{ width:1%; float:left; display:inline-block;}
/*GRIDS*/
/*PERCENT*/
.col-com-percent-1,.col-mob-percent-1,.col-tab-percent-1,.col-com-percent-2,.col-mob-percent-2,.col-tab-percent-2,.col-com-percent-3,.col-mob-percent-3,.col-tab-percent-3,.col-com-percent-4,.col-mob-percent-4,.col-tab-percent-4,.col-com-percent-5,.col-mob-percent-5,.col-tab-percent-5,.col-com-percent-6,.col-mob-percent-6,.col-tab-percent-6,.col-com-percent-7,.col-mob-percent-7,.col-tab-percent-7,.col-com-percent-8,.col-mob-percent-8,.col-tab-percent-8,.col-com-percent-9,.col-mob-percent-9,.col-tab-percent-9,.col-com-percent-10,.col-mob-percent-10,.col-tab-percent-10,.col-com-percent-11,.col-mob-percent-11,.col-tab-percent-11,.col-com-percent-12,.col-mob-percent-12,.col-tab-percent-12,.col-com-percent-13,.col-mob-percent-13,.col-tab-percent-13,.col-com-percent-14,.col-mob-percent-14,.col-tab-percent-14,.col-com-percent-15,.col-mob-percent-15,.col-tab-percent-15,.col-com-percent-16,.col-mob-percent-16,.col-tab-percent-16,.col-com-percent-17,.col-mob-percent-17,.col-tab-percent-17,.col-com-percent-18,.col-mob-percent-18,.col-tab-percent-18,.col-com-percent-19,.col-mob-percent-19,.col-tab-percent-19,.col-com-percent-20,.col-mob-percent-20,.col-tab-percent-20,.col-com-percent-21,.col-mob-percent-21,.col-tab-percent-21,.col-com-percent-22,.col-mob-percent-22,.col-tab-percent-22,.col-com-percent-23,.col-mob-percent-23,.col-tab-percent-23,.col-com-percent-24,.col-mob-percent-24,.col-tab-percent-24,.col-com-percent-25,.col-mob-percent-25,.col-tab-percent-25,.col-com-percent-26,.col-mob-percent-26,.col-tab-percent-26,.col-com-percent-27,.col-mob-percent-27,.col-tab-percent-27,.col-com-percent-28,.col-mob-percent-28,.col-tab-percent-28,.col-com-percent-29,.col-mob-percent-29,.col-tab-percent-29,.col-com-percent-30,.col-mob-percent-30,.col-tab-percent-30,.col-com-percent-31,.col-mob-percent-31,.col-tab-percent-31,.col-com-percent-32,.col-mob-percent-32,.col-tab-percent-32,.col-com-percent-33,.col-mob-percent-33,.col-tab-percent-33,.col-com-percent-34,.col-mob-percent-34,.col-tab-percent-34,.col-com-percent-35,.col-mob-percent-35,.col-tab-percent-35,.col-com-percent-36,.col-mob-percent-36,.col-tab-percent-36,.col-com-percent-37,.col-mob-percent-37,.col-tab-percent-37,.col-com-percent-38,.col-mob-percent-38,.col-tab-percent-38,.col-com-percent-39,.col-mob-percent-39,.col-tab-percent-39,.col-com-percent-40,.col-mob-percent-40,.col-tab-percent-40,.col-com-percent-41,.col-mob-percent-41,.col-tab-percent-41,.col-com-percent-42,.col-mob-percent-42,.col-tab-percent-42,.col-com-percent-43,.col-mob-percent-43,.col-tab-percent-43,.col-com-percent-44,.col-mob-percent-44,.col-tab-percent-44,.col-com-percent-45,.col-mob-percent-45,.col-tab-percent-45,.col-com-percent-46,.col-mob-percent-46,.col-tab-percent-46,.col-com-percent-47,.col-mob-percent-47,.col-tab-percent-47,.col-com-percent-48,.col-mob-percent-48,.col-tab-percent-48,.col-com-percent-49,.col-mob-percent-49,.col-tab-percent-49,.col-com-percent-50,.col-mob-percent-50,.col-tab-percent-50,.col-com-percent-51,.col-mob-percent-51,.col-tab-percent-51,.col-com-percent-52,.col-mob-percent-52,.col-tab-percent-52,.col-com-percent-53,.col-mob-percent-53,.col-tab-percent-53,.col-com-percent-54,.col-mob-percent-54,.col-tab-percent-54,.col-com-percent-55,.col-mob-percent-55,.col-tab-percent-55,.col-com-percent-56,.col-mob-percent-56,.col-tab-percent-56,.col-com-percent-57,.col-mob-percent-57,.col-tab-percent-57,.col-com-percent-58,.col-mob-percent-58,.col-tab-percent-58,.col-com-percent-59,.col-mob-percent-59,.col-tab-percent-59,.col-com-percent-60,.col-mob-percent-60,.col-tab-percent-60,.col-com-percent-61,.col-mob-percent-61,.col-tab-percent-61,.col-com-percent-62,.col-mob-percent-62,.col-tab-percent-62,.col-com-percent-63,.col-mob-percent-63,.col-tab-percent-63,.col-com-percent-64,.col-mob-percent-64,.col-tab-percent-64,.col-com-percent-65,.col-mob-percent-65,.col-tab-percent-65,.col-com-percent-66,.col-mob-percent-66,.col-tab-percent-66,.col-com-percent-67,.col-mob-percent-67,.col-tab-percent-67,.col-com-percent-68,.col-mob-percent-68,.col-tab-percent-68,.col-com-percent-69,.col-mob-percent-69,.col-tab-percent-69,.col-com-percent-70,.col-mob-percent-70,.col-tab-percent-70,.col-com-percent-71,.col-mob-percent-71,.col-tab-percent-71,.col-com-percent-72,.col-mob-percent-72,.col-tab-percent-72,.col-com-percent-73,.col-mob-percent-73,.col-tab-percent-73,.col-com-percent-74,.col-mob-percent-74,.col-tab-percent-74,.col-com-percent-75,.col-mob-percent-75,.col-tab-percent-75,.col-com-percent-76,.col-mob-percent-76,.col-tab-percent-76,.col-com-percent-77,.col-mob-percent-77,.col-tab-percent-77,.col-com-percent-78,.col-mob-percent-78,.col-tab-percent-78,.col-com-percent-79,.col-mob-percent-79,.col-tab-percent-79,.col-com-percent-80,.col-mob-percent-80,.col-tab-percent-80,.col-com-percent-81,.col-mob-percent-81,.col-tab-percent-81,.col-com-percent-82,.col-mob-percent-82,.col-tab-percent-82,.col-com-percent-83,.col-mob-percent-83,.col-tab-percent-83,.col-com-percent-84,.col-mob-percent-84,.col-tab-percent-84,.col-com-percent-85,.col-mob-percent-85,.col-tab-percent-85,.col-com-percent-86,.col-mob-percent-86,.col-tab-percent-86,.col-com-percent-87,.col-mob-percent-87,.col-tab-percent-87,.col-com-percent-88,.col-mob-percent-88,.col-tab-percent-88,.col-com-percent-89,.col-mob-percent-89,.col-tab-percent-89,.col-com-percent-90,.col-mob-percent-90,.col-tab-percent-90,.col-com-percent-91,.col-mob-percent-91,.col-tab-percent-91,.col-com-percent-92,.col-mob-percent-92,.col-tab-percent-92,.col-com-percent-93,.col-mob-percent-93,.col-tab-percent-93,.col-com-percent-94,.col-mob-percent-94,.col-tab-percent-94,.col-com-percent-95,.col-mob-percent-95,.col-tab-percent-95,.col-com-percent-96,.col-mob-percent-96,.col-tab-percent-96,.col-com-percent-97,.col-mob-percent-97,.col-tab-percent-97,.col-com-percent-98,.col-mob-percent-98,.col-tab-percent-98,.col-com-percent-99,.col-mob-percent-99,.col-tab-percent-99,.col-com-percent-100,.col-mob-percent-100,.col-tab-percent-100{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.col-com-percent-2{ width:2%; float:left; display:inline-block;}
.col-com-percent-3{ width:3%; float:left; display:inline-block;}
.col-com-percent-4{ width:4%; float:left; display:inline-block;}
.col-com-percent-5{ width:5%; float:left; display:inline-block;}
.col-com-percent-6{ width:6%; float:left; display:inline-block;}
.col-com-percent-7{ width:7%; float:left; display:inline-block;}
.col-com-percent-8{ width:8%; float:left; display:inline-block;}
.col-com-percent-9{ width:9%; float:left; display:inline-block;}
.col-com-percent-10{ width:10%; float:left; display:inline-block;}
.col-com-percent-11{ width:11%; float:left; display:inline-block;}
.col-com-percent-12{ width:12%; float:left; display:inline-block;}
.col-com-percent-13{ width:13%; float:left; display:inline-block;}
.col-com-percent-14{ width:14%; float:left; display:inline-block;}
.col-com-percent-15{ width:15%; float:left; display:inline-block;}
.col-com-percent-16{ width:16%; float:left; display:inline-block;}
.col-com-percent-17{ width:17%; float:left; display:inline-block;}
.col-com-percent-18{ width:18%; float:left; display:inline-block;}
.col-com-percent-19{ width:19%; float:left; display:inline-block;}
.col-com-percent-20{ width:20%; float:left; display:inline-block;}
.col-com-percent-21{ width:21%; float:left; display:inline-block;}
.col-com-percent-22{ width:22%; float:left; display:inline-block;}
.col-com-percent-23{ width:23%; float:left; display:inline-block;}
.col-com-percent-24{ width:24%; float:left; display:inline-block;}
.col-com-percent-25{ width:25%; float:left; display:inline-block;}
.col-com-percent-26{ width:26%; float:left; display:inline-block;}
.col-com-percent-27{ width:27%; float:left; display:inline-block;}
.col-com-percent-28{ width:28%; float:left; display:inline-block;}
.col-com-percent-29{ width:29%; float:left; display:inline-block;}
.col-com-percent-30{ width:30%; float:left; display:inline-block;}
.col-com-percent-31{ width:31%; float:left; display:inline-block;}
.col-com-percent-32{ width:32%; float:left; display:inline-block;}
.col-com-percent-33{ width:33%; float:left; display:inline-block;}
.col-com-percent-34{ width:34%; float:left; display:inline-block;}
.col-com-percent-35{ width:35%; float:left; display:inline-block;}
.col-com-percent-36{ width:36%; float:left; display:inline-block;}
.col-com-percent-37{ width:37%; float:left; display:inline-block;}
.col-com-percent-38{ width:38%; float:left; display:inline-block;}
.col-com-percent-39{ width:39%; float:left; display:inline-block;}
.col-com-percent-40{ width:40%; float:left; display:inline-block;}
.col-com-percent-41{ width:41%; float:left; display:inline-block;}
.col-com-percent-42{ width:42%; float:left; display:inline-block;}
.col-com-percent-43{ width:43%; float:left; display:inline-block;}
.col-com-percent-44{ width:44%; float:left; display:inline-block;}
.col-com-percent-45{ width:45%; float:left; display:inline-block;}
.col-com-percent-46{ width:46%; float:left; display:inline-block;}
.col-com-percent-47{ width:47%; float:left; display:inline-block;}
.col-com-percent-48{ width:48%; float:left; display:inline-block;}
.col-com-percent-49{ width:49%; float:left; display:inline-block;}
.col-com-percent-50{ width:50%; float:left; display:inline-block;}
.col-com-percent-51{ width:51%; float:left; display:inline-block;}
.col-com-percent-52{ width:52%; float:left; display:inline-block;}
.col-com-percent-53{ width:53%; float:left; display:inline-block;}
.col-com-percent-54{ width:54%; float:left; display:inline-block;}
.col-com-percent-55{ width:55%; float:left; display:inline-block;}
.col-com-percent-56{ width:56%; float:left; display:inline-block;}
.col-com-percent-57{ width:57%; float:left; display:inline-block;}
.col-com-percent-58{ width:58%; float:left; display:inline-block;}
.col-com-percent-59{ width:59%; float:left; display:inline-block;}
.col-com-percent-60{ width:60%; float:left; display:inline-block;}
.col-com-percent-61{ width:61%; float:left; display:inline-block;}
.col-com-percent-62{ width:62%; float:left; display:inline-block;}
.col-com-percent-63{ width:63%; float:left; display:inline-block;}
.col-com-percent-64{ width:64%; float:left; display:inline-block;}
.col-com-percent-65{ width:65%; float:left; display:inline-block;}
.col-com-percent-66{ width:66%; float:left; display:inline-block;}
.col-com-percent-67{ width:67%; float:left; display:inline-block;}
.col-com-percent-68{ width:68%; float:left; display:inline-block;}
.col-com-percent-69{ width:69%; float:left; display:inline-block;}
.col-com-percent-70{ width:70%; float:left; display:inline-block;}
.col-com-percent-71{ width:71%; float:left; display:inline-block;}
.col-com-percent-72{ width:72%; float:left; display:inline-block;}
.col-com-percent-73{ width:73%; float:left; display:inline-block;}
.col-com-percent-74{ width:74%; float:left; display:inline-block;}
.col-com-percent-75{ width:75%; float:left; display:inline-block;}
.col-com-percent-76{ width:76%; float:left; display:inline-block;}
.col-com-percent-77{ width:77%; float:left; display:inline-block;}
.col-com-percent-78{ width:78%; float:left; display:inline-block;}
.col-com-percent-79{ width:79%; float:left; display:inline-block;}
.col-com-percent-80{ width:80%; float:left; display:inline-block;}
.col-com-percent-81{ width:81%; float:left; display:inline-block;}
.col-com-percent-82{ width:82%; float:left; display:inline-block;}
.col-com-percent-83{ width:83%; float:left; display:inline-block;}
.col-com-percent-84{ width:84%; float:left; display:inline-block;}
.col-com-percent-85{ width:85%; float:left; display:inline-block;}
.col-com-percent-86{ width:86%; float:left; display:inline-block;}
.col-com-percent-87{ width:87%; float:left; display:inline-block;}
.col-com-percent-88{ width:88%; float:left; display:inline-block;}
.col-com-percent-89{ width:89%; float:left; display:inline-block;}
.col-com-percent-90{ width:90%; float:left; display:inline-block;}
.col-com-percent-91{ width:91%; float:left; display:inline-block;}
.col-com-percent-92{ width:92%; float:left; display:inline-block;}
.col-com-percent-93{ width:93%; float:left; display:inline-block;}
.col-com-percent-94{ width:94%; float:left; display:inline-block;}
.col-com-percent-95{ width:95%; float:left; display:inline-block;}
.col-com-percent-96{ width:96%; float:left; display:inline-block;}
.col-com-percent-97{ width:97%; float:left; display:inline-block;}
.col-com-percent-98{ width:98%; float:left; display:inline-block;}
.col-com-percent-99{ width:99%; float:left; display:inline-block;}
.col-com-percent-100{ width:100%; float:left; display:inline-block;}
/*PERCENT*/
