@media (max-width: 767px) {
 .col-mob-1{ width:100%; float:left; display:inline-block;}
.col-mob-2{ width:50%; float:left; display:inline-block;}
.col-mob-3{ width:33.333333333333%; float:left; display:inline-block;}
.col-mob-4{ width:25%; float:left; display:inline-block;}
.col-mob-5{ width:20%; float:left; display:inline-block;}
.col-mob-6{ width:16.666666666667%; float:left; display:inline-block;}
.col-mob-7{ width:14.285714285714%; float:left; display:inline-block;}
.col-mob-8{ width:12.5%; float:left; display:inline-block;}
.col-mob-9{ width:11.111111111111%; float:left; display:inline-block;}
.col-mob-10{ width:10%; float:left; display:inline-block;}
.col-mob-11{ width:9.0909090909091%; float:left; display:inline-block;}
.col-mob-12{ width:8.3333333333333%; float:left; display:inline-block;}
.col-mob-13{ width:7.6923076923077%; float:left; display:inline-block;}
.col-mob-14{ width:7.1428571428571%; float:left; display:inline-block;}
.col-mob-15{ width:6.6666666666667%; float:left; display:inline-block;}
.col-mob-16{ width:6.25%; float:left; display:inline-block;}
.col-mob-17{ width:5.8823529411765%; float:left; display:inline-block;}
.col-mob-18{ width:5.5555555555556%; float:left; display:inline-block;}
.col-mob-19{ width:5.2631578947368%; float:left; display:inline-block;}
.col-mob-20{ width:5%; float:left; display:inline-block;}
.col-mob-21{ width:4.7619047619048%; float:left; display:inline-block;}
.col-mob-22{ width:4.5454545454545%; float:left; display:inline-block;}
.col-mob-23{ width:4.3478260869565%; float:left; display:inline-block;}
.col-mob-24{ width:4.1666666666667%; float:left; display:inline-block;}
.col-mob-25{ width:4%; float:left; display:inline-block;}
.col-mob-26{ width:3.8461538461538%; float:left; display:inline-block;}
.col-mob-27{ width:3.7037037037037%; float:left; display:inline-block;}
.col-mob-28{ width:3.5714285714286%; float:left; display:inline-block;}
.col-mob-29{ width:3.448275862069%; float:left; display:inline-block;}
.col-mob-30{ width:3.3333333333333%; float:left; display:inline-block;}
.col-mob-31{ width:3.2258064516129%; float:left; display:inline-block;}
.col-mob-32{ width:3.125%; float:left; display:inline-block;}
.col-mob-33{ width:3.030303030303%; float:left; display:inline-block;}
.col-mob-34{ width:2.9411764705882%; float:left; display:inline-block;}
.col-mob-35{ width:2.8571428571429%; float:left; display:inline-block;}
.col-mob-36{ width:2.7777777777778%; float:left; display:inline-block;}
.col-mob-37{ width:2.7027027027027%; float:left; display:inline-block;}
.col-mob-38{ width:2.6315789473684%; float:left; display:inline-block;}
.col-mob-39{ width:2.5641025641026%; float:left; display:inline-block;}
.col-mob-40{ width:2.5%; float:left; display:inline-block;}
.col-mob-41{ width:2.4390243902439%; float:left; display:inline-block;}
.col-mob-42{ width:2.3809523809524%; float:left; display:inline-block;}
.col-mob-43{ width:2.3255813953488%; float:left; display:inline-block;}
.col-mob-44{ width:2.2727272727273%; float:left; display:inline-block;}
.col-mob-45{ width:2.2222222222222%; float:left; display:inline-block;}
.col-mob-46{ width:2.1739130434783%; float:left; display:inline-block;}
.col-mob-47{ width:2.1276595744681%; float:left; display:inline-block;}
.col-mob-48{ width:2.0833333333333%; float:left; display:inline-block;}
.col-mob-49{ width:2.0408163265306%; float:left; display:inline-block;}
.col-mob-50{ width:2%; float:left; display:inline-block;}
.col-mob-51{ width:1.9607843137255%; float:left; display:inline-block;}
.col-mob-52{ width:1.9230769230769%; float:left; display:inline-block;}
.col-mob-53{ width:1.8867924528302%; float:left; display:inline-block;}
.col-mob-54{ width:1.8518518518519%; float:left; display:inline-block;}
.col-mob-55{ width:1.8181818181818%; float:left; display:inline-block;}
.col-mob-56{ width:1.7857142857143%; float:left; display:inline-block;}
.col-mob-57{ width:1.7543859649123%; float:left; display:inline-block;}
.col-mob-58{ width:1.7241379310345%; float:left; display:inline-block;}
.col-mob-59{ width:1.6949152542373%; float:left; display:inline-block;}
.col-mob-60{ width:1.6666666666667%; float:left; display:inline-block;}
.col-mob-61{ width:1.6393442622951%; float:left; display:inline-block;}
.col-mob-62{ width:1.6129032258065%; float:left; display:inline-block;}
.col-mob-63{ width:1.5873015873016%; float:left; display:inline-block;}
.col-mob-64{ width:1.5625%; float:left; display:inline-block;}
.col-mob-65{ width:1.5384615384615%; float:left; display:inline-block;}
.col-mob-66{ width:1.5151515151515%; float:left; display:inline-block;}
.col-mob-67{ width:1.4925373134328%; float:left; display:inline-block;}
.col-mob-68{ width:1.4705882352941%; float:left; display:inline-block;}
.col-mob-69{ width:1.4492753623188%; float:left; display:inline-block;}
.col-mob-70{ width:1.4285714285714%; float:left; display:inline-block;}
.col-mob-71{ width:1.4084507042254%; float:left; display:inline-block;}
.col-mob-72{ width:1.3888888888889%; float:left; display:inline-block;}
.col-mob-73{ width:1.3698630136986%; float:left; display:inline-block;}
.col-mob-74{ width:1.3513513513514%; float:left; display:inline-block;}
.col-mob-75{ width:1.3333333333333%; float:left; display:inline-block;}
.col-mob-76{ width:1.3157894736842%; float:left; display:inline-block;}
.col-mob-77{ width:1.2987012987013%; float:left; display:inline-block;}
.col-mob-78{ width:1.2820512820513%; float:left; display:inline-block;}
.col-mob-79{ width:1.2658227848101%; float:left; display:inline-block;}
.col-mob-80{ width:1.25%; float:left; display:inline-block;}
.col-mob-81{ width:1.2345679012346%; float:left; display:inline-block;}
.col-mob-82{ width:1.219512195122%; float:left; display:inline-block;}
.col-mob-83{ width:1.2048192771084%; float:left; display:inline-block;}
.col-mob-84{ width:1.1904761904762%; float:left; display:inline-block;}
.col-mob-85{ width:1.1764705882353%; float:left; display:inline-block;}
.col-mob-86{ width:1.1627906976744%; float:left; display:inline-block;}
.col-mob-87{ width:1.1494252873563%; float:left; display:inline-block;}
.col-mob-88{ width:1.1363636363636%; float:left; display:inline-block;}
.col-mob-89{ width:1.123595505618%; float:left; display:inline-block;}
.col-mob-90{ width:1.1111111111111%; float:left; display:inline-block;}
.col-mob-91{ width:1.0989010989011%; float:left; display:inline-block;}
.col-mob-92{ width:1.0869565217391%; float:left; display:inline-block;}
.col-mob-93{ width:1.0752688172043%; float:left; display:inline-block;}
.col-mob-94{ width:1.063829787234%; float:left; display:inline-block;}
.col-mob-95{ width:1.0526315789474%; float:left; display:inline-block;}
.col-mob-96{ width:1.0416666666667%; float:left; display:inline-block;}
.col-mob-97{ width:1.0309278350515%; float:left; display:inline-block;}
.col-mob-98{ width:1.0204081632653%; float:left; display:inline-block;}
.col-mob-99{ width:1.010101010101%; float:left; display:inline-block;}
.col-mob-100{ width:1%; float:left; display:inline-block;}
/*GRIDS*/
/*PERCENT*/
.col-mob-percent-1{ width:1%; float:left; display:inline-block;}
.col-mob-percent-2{ width:2%; float:left; display:inline-block;}
.col-mob-percent-3{ width:3%; float:left; display:inline-block;}
.col-mob-percent-4{ width:4%; float:left; display:inline-block;}
.col-mob-percent-5{ width:5%; float:left; display:inline-block;}
.col-mob-percent-6{ width:6%; float:left; display:inline-block;}
.col-mob-percent-7{ width:7%; float:left; display:inline-block;}
.col-mob-percent-8{ width:8%; float:left; display:inline-block;}
.col-mob-percent-9{ width:9%; float:left; display:inline-block;}
.col-mob-percent-10{ width:10%; float:left; display:inline-block;}
.col-mob-percent-11{ width:11%; float:left; display:inline-block;}
.col-mob-percent-12{ width:12%; float:left; display:inline-block;}
.col-mob-percent-13{ width:13%; float:left; display:inline-block;}
.col-mob-percent-14{ width:14%; float:left; display:inline-block;}
.col-mob-percent-15{ width:15%; float:left; display:inline-block;}
.col-mob-percent-16{ width:16%; float:left; display:inline-block;}
.col-mob-percent-17{ width:17%; float:left; display:inline-block;}
.col-mob-percent-18{ width:18%; float:left; display:inline-block;}
.col-mob-percent-19{ width:19%; float:left; display:inline-block;}
.col-mob-percent-20{ width:20%; float:left; display:inline-block;}
.col-mob-percent-21{ width:21%; float:left; display:inline-block;}
.col-mob-percent-22{ width:22%; float:left; display:inline-block;}
.col-mob-percent-23{ width:23%; float:left; display:inline-block;}
.col-mob-percent-24{ width:24%; float:left; display:inline-block;}
.col-mob-percent-25{ width:25%; float:left; display:inline-block;}
.col-mob-percent-26{ width:26%; float:left; display:inline-block;}
.col-mob-percent-27{ width:27%; float:left; display:inline-block;}
.col-mob-percent-28{ width:28%; float:left; display:inline-block;}
.col-mob-percent-29{ width:29%; float:left; display:inline-block;}
.col-mob-percent-30{ width:30%; float:left; display:inline-block;}
.col-mob-percent-31{ width:31%; float:left; display:inline-block;}
.col-mob-percent-32{ width:32%; float:left; display:inline-block;}
.col-mob-percent-33{ width:33%; float:left; display:inline-block;}
.col-mob-percent-34{ width:34%; float:left; display:inline-block;}
.col-mob-percent-35{ width:35%; float:left; display:inline-block;}
.col-mob-percent-36{ width:36%; float:left; display:inline-block;}
.col-mob-percent-37{ width:37%; float:left; display:inline-block;}
.col-mob-percent-38{ width:38%; float:left; display:inline-block;}
.col-mob-percent-39{ width:39%; float:left; display:inline-block;}
.col-mob-percent-40{ width:40%; float:left; display:inline-block;}
.col-mob-percent-41{ width:41%; float:left; display:inline-block;}
.col-mob-percent-42{ width:42%; float:left; display:inline-block;}
.col-mob-percent-43{ width:43%; float:left; display:inline-block;}
.col-mob-percent-44{ width:44%; float:left; display:inline-block;}
.col-mob-percent-45{ width:45%; float:left; display:inline-block;}
.col-mob-percent-46{ width:46%; float:left; display:inline-block;}
.col-mob-percent-47{ width:47%; float:left; display:inline-block;}
.col-mob-percent-48{ width:48%; float:left; display:inline-block;}
.col-mob-percent-49{ width:49%; float:left; display:inline-block;}
.col-mob-percent-50{ width:50%; float:left; display:inline-block;}
.col-mob-percent-51{ width:51%; float:left; display:inline-block;}
.col-mob-percent-52{ width:52%; float:left; display:inline-block;}
.col-mob-percent-53{ width:53%; float:left; display:inline-block;}
.col-mob-percent-54{ width:54%; float:left; display:inline-block;}
.col-mob-percent-55{ width:55%; float:left; display:inline-block;}
.col-mob-percent-56{ width:56%; float:left; display:inline-block;}
.col-mob-percent-57{ width:57%; float:left; display:inline-block;}
.col-mob-percent-58{ width:58%; float:left; display:inline-block;}
.col-mob-percent-59{ width:59%; float:left; display:inline-block;}
.col-mob-percent-60{ width:60%; float:left; display:inline-block;}
.col-mob-percent-61{ width:61%; float:left; display:inline-block;}
.col-mob-percent-62{ width:62%; float:left; display:inline-block;}
.col-mob-percent-63{ width:63%; float:left; display:inline-block;}
.col-mob-percent-64{ width:64%; float:left; display:inline-block;}
.col-mob-percent-65{ width:65%; float:left; display:inline-block;}
.col-mob-percent-66{ width:66%; float:left; display:inline-block;}
.col-mob-percent-67{ width:67%; float:left; display:inline-block;}
.col-mob-percent-68{ width:68%; float:left; display:inline-block;}
.col-mob-percent-69{ width:69%; float:left; display:inline-block;}
.col-mob-percent-70{ width:70%; float:left; display:inline-block;}
.col-mob-percent-71{ width:71%; float:left; display:inline-block;}
.col-mob-percent-72{ width:72%; float:left; display:inline-block;}
.col-mob-percent-73{ width:73%; float:left; display:inline-block;}
.col-mob-percent-74{ width:74%; float:left; display:inline-block;}
.col-mob-percent-75{ width:75%; float:left; display:inline-block;}
.col-mob-percent-76{ width:76%; float:left; display:inline-block;}
.col-mob-percent-77{ width:77%; float:left; display:inline-block;}
.col-mob-percent-78{ width:78%; float:left; display:inline-block;}
.col-mob-percent-79{ width:79%; float:left; display:inline-block;}
.col-mob-percent-80{ width:80%; float:left; display:inline-block;}
.col-mob-percent-81{ width:81%; float:left; display:inline-block;}
.col-mob-percent-82{ width:82%; float:left; display:inline-block;}
.col-mob-percent-83{ width:83%; float:left; display:inline-block;}
.col-mob-percent-84{ width:84%; float:left; display:inline-block;}
.col-mob-percent-85{ width:85%; float:left; display:inline-block;}
.col-mob-percent-86{ width:86%; float:left; display:inline-block;}
.col-mob-percent-87{ width:87%; float:left; display:inline-block;}
.col-mob-percent-88{ width:88%; float:left; display:inline-block;}
.col-mob-percent-89{ width:89%; float:left; display:inline-block;}
.col-mob-percent-90{ width:90%; float:left; display:inline-block;}
.col-mob-percent-91{ width:91%; float:left; display:inline-block;}
.col-mob-percent-92{ width:92%; float:left; display:inline-block;}
.col-mob-percent-93{ width:93%; float:left; display:inline-block;}
.col-mob-percent-94{ width:94%; float:left; display:inline-block;}
.col-mob-percent-95{ width:95%; float:left; display:inline-block;}
.col-mob-percent-96{ width:96%; float:left; display:inline-block;}
.col-mob-percent-97{ width:97%; float:left; display:inline-block;}
.col-mob-percent-98{ width:98%; float:left; display:inline-block;}
.col-mob-percent-99{ width:99%; float:left; display:inline-block;}
.col-mob-percent-100{ width:100%; float:left; display:inline-block;}
/*PERCENT*/
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (min-width: 320px) and (max-width: 480px) {
    
}